

#calculadora{
	border: 1px solid black;
	width: 350px;
	padding:20px 5px;
	background:white;
	margin:auto;
	border-radius: 5px;
	box-shadow: 0px 0px 16px 7px #7A7A7A inset, 0px 1px 1px 1px #000;
}

#pantalla, #operaciones{
	background: white;
	width:300px;
	height:50px;
	text-align:right;
	border: 1px solid black;
	box-shadow: 0px 0px 2px 1px grey inset;
	padding: 2px 3px;
	font-size: 40px;
	overflow: hidden;
	margin:auto;
}

.rojo{
	color:red;
}

input[name="coma"]:disabled {
   color:black;
}

#operaciones{
	height:20px;
	font-size: 20px;
	margin-bottom:2px;
}

.rectangulo{
	width:75px;
	height:60px;
	font-size: 30px;
	background:#9ca8ff;
}

p{
	margin:auto;
	width: 350px;
	padding: 2px 20px;

}
